.header {
  height: var(--header-height);
  background: linear-gradient(to bottom, #333, #666);
  font-variant-numeric: tabular-nums;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;

  .counter,
  .workers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25em;

    .resourceImg {
      width: var(--mobile-nav);
      height: calc((350 / 512) * var(--mobile-nav));
    }
  }

  .burgerButton {
    width: 30px;
    height: 20px;
    display: none;
    position: absolute;
    bottom: -2em;
    right: 1em;
    z-index: 999;

    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .line {
      width: 30px;
      height: 4px;
      background-color: #333;
      transition: all 0.3s ease;

      &.line1Active {
        transform: translateY(8px) rotate(45deg);
      }

      &.line2Active {
        opacity: 0;
      }

      &.line3Active {
        transform: translateY(-8px) rotate(-45deg);
      }
    }
  }

  .burger {
    width: 100%;
    position: absolute;
    top: var(--header-height);
    left: 0;
    background-color: #666;
    overflow: hidden;
    transition: height 0.3s ease;

    .navLink {
      gap: 0.5em;
    }
  }
}

.nav {
  background-color: #666;

  /* TODO: :hover nested?? */
  .navLink:hover {
    background-color: brown;
  }

  .navLink {
    width: calc(4 * var(--mobile-nav));
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      width: var(--mobile-nav);
    }

    .navLabel {
      text-align: center;
      flex-grow: 1;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
}

.header,
.nav {
  .li {
    list-style: none;

    .navLink {
      height: var(--mobile-nav);
      display: flex;
      align-items: center;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: background 0.3s ease;

      &.active {
        background-color: red;
      }

      .navImg {
        width: calc(var(--mobile-nav) - 4px);
        height: calc(var(--mobile-nav) - 4px);
        margin: 2px;
      }
    }
  }
}

.footer {
  height: var(--footer-height);
  background: linear-gradient(to top, #333, #666);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header,
.footer {
  width: 100%;
  max-width: var(--max-width);
}