:root {
  --footer-height: 25px;
  --header-height: 75px;
  --max-width: 1080px;
  --mobile-nav: 50px;
  /* --primary-color:  */
  /* --secondary-color:  */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  /* background-color: inherit;
  border: none;
  font-size: inherit; */
  cursor: pointer;
}

body {
  height: 100svh;
  background-image: url('/body-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.nav-main {
  display: flex;
}

main {
  background-color: #999;
  overflow-y: auto;

  &.in-game {
    @media screen and (min-width: 768px) {
      padding: 2em 5em;
    }
  }
}

.nav-main,
main {
  width: 100%;
  max-width: var(--max-width);
  max-height: calc(100svh - var(--header-height) - var(--footer-height));
  flex-grow: 1;
}